body{
  background-colour:#f4c842
}
h1.a{
  color:white
}
h1.b{
  color:green
}
a{
  text-decoration: none;
  color:red;
background-color: black;
border-radius: 5px;
padding:10px;
}
img{
  width:40%;
  margin:0 30%;
  align-content: center;
}
table,tr,td{
  border:1px solid black;
  border-collapse: collapse;

}
h1  {
  text-transform:capitalize;
  text-decoration: underline;
}
table{
  width:100%
}
tr.header{
  background-color:red;
}
ul{
  list-style-type:lower-roman;
}
div.city{
  background-color: black;
  color:white;
  text-align: justify;
  padding: 10px;
}
div.video{
  padding:0px 10px;
}
div.heading{
  background-color: black;
  color:white;
  padding-top: 15px;
  padding-bottom:15px;
  font-size: 35px;
  text-align: center;
}
